# Dependências principais do Django
Django>=4.2,<5.0
djangorestframework==3.16.1
django-filter==25.1

# Utilitários
pillow==11.3.0
asgiref==3.10.0
sqlparse==0.5.3
tzdata==2025.2

# Produção (Render/Heroku style)
gunicorn==21.2.0
whitenoise==6.5.0
psycopg2-binary
dj-database-url
